.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.notFound__heading {
  font-size: 140px;
  line-height: 1.2;
  margin: 246px auto 5px;
  font-weight: 400;
}

.notFound__subtitle {
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto 0;
  font-weight: 400;
}

.notFound__return-link {
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: rgba(52, 86, 243, 1);
  margin: 184px auto 60px;
  transition: opacity .3s ease;
}
.notFound__return-link:hover {
  opacity: .7;
  cursor: pointer;
}
