.high-rating-filter {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-left: 29px;
  border-left: 1px solid rgba(203, 203, 203, 1);
}

.high-rating-filter__button {
  width: 36px;
  height: 20px;
  background-image: url('../../images/filtercheckbox_inactive.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:  rgba(250, 250, 250, 1);
  padding: 0;
  border: 0;
  transition: opacity .3s ease;
}

.high-rating-filter__button_active {
  background-image: url('../../images/filtercheckbox_active.svg');
}

.high-rating-filter__button:hover {
  cursor: pointer;
  opacity: .7;
}

.high-rating-filter__button-name {
  font-size: 13px;
  line-height: 1.4;
  display: block;
}

@media screen and (max-width: 769px) {
  .high-rating-filter {
    padding-left: 19px;
  }
}

@media screen and (max-width: 600px) {
  .high-rating-filter {
    background-color: rgba(250, 250, 250, 1);
    padding: 0;
    border: none;
  }
}

@media screen and (max-width: 320px) {
  .high-rating-filter__button-name {
    font-size: 11px;
    line-height: 1.63;
  }
}
